# GitHub App: https://github.com/settings/apps
# Access for: Pull requests (Read, write), Issues (Write)
GITHUB_APP_ID=
GITHUB_APP_INSTALLATION_ID=
GITHUB_APP_PRIVATE_KEY_PATH=./github-app.pem

# Aws secrets manager CLI credentials
# Access for: read/list secrets
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=